{{#block "header"}}
<!doctype html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Animal shelter</title>
</head>
<body>
<div class="container">
    {{/block}}

    {{#block "content"}}
    {{/block}}

    {{#block "footer"}}

</div>

</body>
</html>

{{/block}}